.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal__content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.modal__close {
  max-width: 30px;
  max-height: 30px;
  border: none;
  background: transparent;
  position: absolute;
  top: -30px;
  right: -20px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.5;
}

.modal__title {
  margin-bottom: 15px;
  font-size: 20px;
}

.modal__form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-self: center;
}

.modal__form-label {
  align-self: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal__form-input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid black;
}

.modal__actions {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.modal__form-submit-button {
  margin-right: 25px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(58, 58, 255, 0.428);
  font-weight: bold;
  cursor: pointer;
}

.modal__form-submit-button:hover{
    opacity: 0.8;
}

.modal__form-cancel-button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(128, 128, 128, 0.597);
  cursor: pointer;
}

.modal__form-cancel-button:hover{
    opacity: 0.8;
}
